<%= form_for(@highfive) do |f| %>
  <% if @highfive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@highfive.errors.count, "error") %> prohibited this highfive from being saved:</h2>

      <ul>
      <% @highfive.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user2_id, "Who did you high five?" %><br />
    <%= f.select :user2_id, options_from_collection_for_select(User.highfiveable(current_user), :id, :username) %>
  </div>
  <div class="actions">
    <%= f.submit "Claim High Five" %>
  </div>
<% end %>
