<div class="edit_highfive">
	<p><%= @highfive.user1.username %> has claimed a highfive with you.</p>
	<%= button_to "Reject", @highfive, :method => :delete, :remote => true, :id => "reject_button" %>
	<%= button_to "Approve", @highfive, :method => :put, :remote => true, :id => "approve_button" %>
</div>

<script type="text/javascript">
$("div#<%= @highfive.id %> input[type='submit']").click(function() {
	$("div#<%= @highfive.id %>").hide();
	number = number - 1;
	if(number <= 0) {
		$("div#overlay").hide();
		$("div#overlay_data").hide();
	}
});
</script>