<h1>Listing highfives</h1>

<table>
  <tr>
    <th>User1</th>
    <th>User2</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @highfives.each do |highfive| %>
  <tr>
    <td><%= highfive.user1.username %></td>
    <td><%= highfive.user2.username %></td>
    <td><%= link_to 'Show', highfive %></td>
    <td><%= link_to 'Edit', edit_highfive_path(highfive) %></td>
    <td><%= link_to 'Destroy', highfive, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Highfive', new_highfive_path %>
