<h2>Leader Board</h2>
<table>
  <tr>
	<th>Place</th>
    <th>User</th>
    <th>Highfives Given</th>
  </tr>

<% @leaders.each_with_index do |leader, index| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= (index + 1).ordinalize %></td>
    <td><%= leader.username %></td>
    <td><%= leader.highfives.count %></td>
  </tr>
<% end %>
</table>

<h2>Recent Highfives</h2>
<ul>
	<% for highfive in @recent %>
	<li><%= highfive.user1.username %> gave <%= highfive.user2.username %> a highfive <%= time_ago_in_words( highfive.created_at) %> ago.</li>
	<% end %>
</ul>