<p id="notice"><%= notice %></p>

<p>
  <b>User1:</b>
  <%= @highfife.user1_id %>
</p>

<p>
  <b>User2:</b>
  <%= @highfife.user2_id %>
</p>


<%= link_to 'Edit', edit_highfife_path(@highfife) %> |
<%= link_to 'Back', highfives_path %>
