<p>
  <b>User1:</b>
  <%= @highfive.user1.username %>
</p>

<p>
  <b>User2:</b>
  <%= @highfive.user2.username %>
</p>

<p>
	<b>When?:</b>
	<%= time_ago_in_words(@highfive.created_at) %> ago
</p>


<%= link_to 'Edit', edit_highfive_path(@highfive) %> |
<%= link_to 'Back', highfives_path %>
