<p id="notice"><%= notice %></p>

<p>
  <b>User1:</b>
  <%= @highfive.user1_id %>
</p>

<p>
  <b>User2:</b>
  <%= @highfive.user2_id %>
</p>


<%= link_to 'Edit', edit_highfive_path(@highfive) %> |
<%= link_to 'Back', highfives_path %>
