<!DOCTYPE html>
<html>
<head>
  <title>Highfive Tuesdays!</title>
  <script type="text/javascript">
    var userid = <%= current_user.id if current_user %>;
	<% if unapproved_highfives? %>
    var unapproved = <%= unapproved_highfives?.collect(&:id).to_json %>
	<% end %>
  </script>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "#{faye_uri}/faye.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<ul id="nav">
		<li><a href="/leaderboard">Leader Board</a></li>
		<% if current_user %>
		<li><%= link_to "Claim Highfive", new_highfive_path %></li>
		<li><%= link_to "User List", users_path %></li>
		<li><a href="/logout">Logout</a></li>
		<% else %>
		<li><a href="/">Login</a></li>
		<% end %>
		<li>
	</ul>
	<div id="main">
	<h1>Highfive Tuesdays</h1>
	<% if notice %>
	<p id="notice"><%= notice %></p>
	<% end %>
	<% if alert %>
	<p id="alert"><%= alert %></p>
	<% end %>
	<%= yield %>
	<div id="footer">
		<p>Brought to you by your good friends: Tyler, Lee, and Alex</p>
	</div>
	</div>

</body>
</html>
